---
permalink: /
layout: master
---

<div
  class="flex flex-col items-stretch text-white pt-4 md:pt-6 lg:pt-4 space-y-16 md:space-y-24 lg:space-y-32"
>
  <div
    class="hero flex flex-col items-center space-y-8 py-16 md:py-18 lg:py-28"
  >
    <div class="flame-demo h-28 md:h-40"></div>

    <p
      class="font-bold center font-accent text-center text-3xl md:text-4xl lg:text-6xl"
    >
      Flexible, Open Source & Runs Everywhere
    </p>
    <p class="text-center text-sm md:text-sm lg:text-base">
      Flame is a game engine built on top of <a class="text-accent underline" href="https://flutter.dev/" target="_blank">Flutter</a>. It runs on mobile,
      desktop, and web.
    </p>
    <div class="space-y-4 flex flex-col sm:space-y-0 sm:space-x-8 sm:flex-row">
      <a
        class="main-button text-sm md:text-sm lg:text-bas font-bold"
        href="https://docs.flame-engine.org/latest/"
        >Get Started</a
      >
      <a
        class="main-button text-sm md:text-sm lg:text-bas font-bold"
        href="https://github.com/flame-engine/flame"
        >GitHub</a
      >
    </div>
  </div>

  {% include separator.html %}

  <div class="flex flex-col items-center space-y-1 lg:space-y-8">
    <h2
      class="text-accent font-bold font-accent text-center text-3xl md:text-4xl lg:text-4xl"
    >
      Made with Flame
    </h2>
    <p class="max-w-sm text-center">
      Games and apps made with the help of Flame
    </p>
    <div
      class="flex flex-col md:flex-row lg:flex-row space-y-20 md:space-y-0 lg:space-x-16 py-24"
    >
      {% include gamecard.html title="Watchsteroids" description="A Code
      challenge t build a Flame game in 17 days, By the Flutter team"
      icon="assets/icons/favicon.png" link="/" %} {% include gamecard.html
      title="Watchsteroids" description="A Code challenge to build a Flame game
      in 17 days, By the Flutter team" icon="assets/icons/favicon.png" link="/"
      %} {% include gamecard.html title="Watchsteroids" description="A Code
      challenge t build a Flame game in 17 days, By the Flutter team"
      icon="assets/icons/favicon.png" link="/" %}
    </div>

    <div class="flex flex-col items-center">
      <p class="text-center w-8/12 leading-tight font-medium mb-8">
        Millions of people have played countless Flame games. <br />
        Check out some of them on the Awesome Flame list.
      </p>
      <a
        class="main-button text-sm md:text-base font-bold"
        href="https://github.com/flame-engine/awesome-flame"
        >View Awesome Flame</a
      >
    </div>
  </div>

  {% include separator.html %}

  <div
    class="flex flex-col md:flex-row-reverse lg:flex-row-reverse space-y-20 md:space-y-0 md:space-x-16"
  >
    <div
      class="flex flex-col items-center justify-center flex-1 space-y-10 px-8"
    >
      <p
        class="text-accent font-accent font-bold text-2xl md:text-3xl lg:text-4xl text-center leading-tight"
      >
        From the community, for the community
      </p>
      <p class="text-center max-w-testimonial font-medium text-sm md:text-base">
        Flame was created and is maintained by independent members of the Flutter community. <br />
        Today, thousands of developers use Flame to ship games every day.
      </p>
      <div>
        <a
          class="main-button font-bold text-sm md:text-base"
          href="https://discord.gg/pxrBmy4"
          >Join our Discord</a
        >
      </div>
    </div>
    <div class="flex flex-col items-center justify-center flex-1">
      {% include testimonial.html quote="This is a quote by someone in the
      community. Flame is the best, I want to have Flame for dinner." author="Ms
      Flame Mc User" authorTagline="Game Developer"
      picture="https://pbs.twimg.com/profile_images/1428343958355292166/jMFX5zS3_400x400.jpg"
      %}
    </div>
  </div>

  <div class="h-8"></div>
</div>
