---
permalink: /
layout: master
---

<div class="flex flex-col items-stretch text-white pt-4 md:pt-6 lg:pt-4 space-y-16 md:space-y-24 lg:space-y-32">
  <div class="hero flex flex-col items-center space-y-8 py-16 md:py-18 lg:py-28">

    {% include callout.html %}

    <div class="flame-demo h-28 md:h-40"></div>

    <p class="font-bold center font-accent text-center text-3xl md:text-4xl lg:text-6xl">
      Flexible, Open Source & Runs Everywhere
    </p>
    <p class="text-center text-sm md:text-sm lg:text-base">
      Flame is a game engine built on top of
      <a href="https://flutter.dev/" target="_blank">Flutter</a>. It runs on
      mobile,
      desktop, and web.
    </p>
    <div class="space-y-4 flex flex-col sm:space-y-0 sm:space-x-8 sm:flex-row">
      <a class="main-button text-sm md:text-sm lg:text-bas font-bold" href="https://docs.flame-engine.org/latest/">Get
        Started</a>
      <a class="main-button text-sm md:text-sm lg:text-bas font-bold" href="https://github.com/flame-engine/flame"
        target="_blank">GitHub</a>
    </div>
  </div>

  {% include separator.html %}

  <div class="flex flex-col items-center space-y-1 lg:space-y-8">
    <h2 class="text-accent font-bold font-accent text-center text-3xl md:text-4xl lg:text-4xl">
      Made with Flame
    </h2>
    <p class="max-w-md text-center">
      Games and apps made with the help of Flame
    </p>
    <div class="flex flex-col md:flex-row lg:flex-row space-y-20 md:space-y-0 lg:space-x-16 py-16">
      {% include game-card.html
      title="Idle Horizons:<br />Dawn of Heroes"
      description="Mobile Idle Autobattler! Place units and compete amongst the best!"
      icon="/assets/images/games/game5.png"
      link="https://idlehorizons.app.link/flame"
      %}
      {% include game-card.html
      title="Gunslinger"
      description="A 2D shooter roguelike game with chaotic battles to test your survival skills for 10 intense minutes, Armed with unique weaponry that suits your playstyle."
      icon="/assets/images/games/game2.png"
      link="https://play.google.com/store/apps/details?id=dev.studiocloud.gunslinger"
      %}
      {% include game-card.html
      title="The Darkblade"
      description="The Darkblade is a souls-like 2D singleplayer RPG where you battle through cursed lands, master deadly combat, and uncover the truth behind a mysterious stone core — all while adventuring with a loyal, cute companion by your side."
      icon="/assets/images/games/game7.png"
      link=""https://store.steampowered.com/app/3731570/The_Darkblade/"
      %}
    </div>
    <div class="flex flex-col md:flex-row lg:flex-row space-y-20 md:space-y-0 lg:space-x-16 py-16">
      {% include game-card.html
      title="Gigabull"
      description="In this adventure, Gigabull, the band's namesake and the universe's most nefarious horned villain, has seized 10 sacred thumb drives. Each drive contains a piece of the cacophonous puzzle to defeat him: a song from the album. Your mission: reclaim them all."
      icon="/assets/images/games/game1.png"
      link="https://gigabull.net/game"
      %}
      {% include game-card.html
      title="Tomb Toad"
      description="Delve into dark dungeons, face fearsome foes, and ponder perilous puzzles in this topsy-turvy adventure game! To explore, simply rotate the world and let gravity do the rest."
      icon="/assets/images/games/game4.png"
      link="https://t.co/NTlmBb9yfq"
      %}
      {% include game-card.html
      title="WalkScape"
      description="WalkScape is a game inspired by some old school MMORPGs. But this game has one major trick up its sleeve: you don't play actively, but instead gain progress by walking."
      icon="/assets/images/games/game6.png"
      link="https://walkscape.app"
      %}
    </div>
    <div class="flex flex-col md:flex-row lg:flex-row space-y-20 md:space-y-0 lg:space-x-16 py-16">
      {% include game-card.html
      title="Watchsteroids"
      description="An open source Asteroids-ish game made for WearOS using the Flame Engine, Flutter and watch controls."
      icon="/assets/images/games/game3.png"
      link="https://github.com/renancaraujo/watchsteroids"
      %}
    </div>
    <div class="flex flex-col items-center">
      <p class="text-center w-8/12 leading-tight font-medium mb-8">
        Millions of people have played countless Flame games. <br />
        Check out some of them on the Awesome Flame list.
      </p>
      <a class="main-button text-sm md:text-base font-bold" href="https://github.com/flame-engine/awesome-flame"
        target="_blank">View Awesome Flame</a>
    </div>
  </div>

  {% include separator.html %}

  <div class="flex flex-col md:flex-row-reverse lg:flex-row-reverse space-y-20 md:space-y-0 md:space-x-16">
    <div class="flex flex-col items-center justify-center flex-1 space-y-10 px-8">
      <p class="text-accent font-accent font-bold text-2xl md:text-3xl lg:text-4xl text-center leading-tight">
        From the community, for the community
      </p>
      <p class="text-center max-w-testimonial font-medium text-sm md:text-base">
        Flame was created and is maintained by independent members of the
        Flutter community. <br />
        Today, thousands of developers use Flame to ship games every day.
      </p>
      <div>
        <a class="main-button font-bold text-sm md:text-base" href="https://discord.gg/pxrBmy4" target="_blank">Join our
          Discord</a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center flex-1">
      {% include testimonial.html
      quote="Flame strikes a great balance for
      developers like me, who are forever torn between the desire to build our
      own game engines, and actually shipping games. With Flame, I can get as
      low-level as I want, while also leaving the more boring and laborious
      details in the capable hands of Flame's maintainers."
      author="Filip Hracek"
      authorTagline="Game Developer"
      picture="/assets/images/filip.jpeg"
      link="https://mastodon.social/@filiph"
      %}
    </div>
  </div>

  <div class="h-8"></div>
</div>
