@font-face {
  font-family: Firealistic;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/firealistic-regular.otf") format("opentype");
}

.firealistic {
  font-family: Firealistic;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flamecon-wrapper {
  background-color: white;
  color: white;
  text-align: center;
  font-size: 32px;
  width: 100%;
  height: 100%;
}

.flamecon-wrapper a, .flamecon-stripe a:visited {
  color: white;
}

.flamecon-wrapper a:hover {
  color: #EB1930;
}

.flamecon-inner {
  background-image: linear-gradient(#EB1930, #FFBC1F);
  width: 800px;
  left: calc(50% - 400px);
  top: 40px;
  bottom: 40px;
  position: absolute;
}

.flamecon-title {
  font-size: 128px;
}

.flamecon-stripe {
  display: inline-block;
  background-color: white;
  padding-right: 4px;
  color: #EB1930;
}

.flamecon-stripe a, .flamecon-stripe a:visited {
  color: #EB1930;
}

.flamecon-stripe a:hover {
  color: #EB1930;
}

.flamecon-small {
  font-size: 20px;
}

.flamecon-block {
  text-align: left;
}

.flamecon-block > * {
  padding-left: 40px;
}

.flamecon-footer {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.flamecon-two-cols {
  font-family: Firealistic;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}