.flamecon-title {
  font-family: Firealistic, sans-serif;
  font-size: 3em;
  line-height: 1.2;
}

.flamecon-tagline {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  margin-top: 16px;
}

.flamecon-lineup {
  margin: 1.8em 0 1em 0;
  text-align: left;
}

.flamecon-datetime {
  font-family: Firealistic, sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}

.flamecon-datetime b {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 1);
}

.flamecon-talk {
  margin: 0.8em 0;
  font-family: Firealistic, sans-serif;
  line-height: 1.1;
}

.flamecon-talk > a {
  position: relative;
  z-index: 1;
  font-size: 0.8em;
}

.flamecon-boom {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #eb1930 !important;
  font-size: 1.2em !important;

  margin-left: 2px;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

.flamecon-boom:after {
  content: "";
  transform-origin: left;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -2px;
  right: -12px;
  bottom: 0;
  z-index: -1;
  animation: boom 1s cubic-bezier(0.27, 0.16, 0, 0.84);
  animation-delay: .5s;
}

.flamecon-author {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  line-height: 1.3;
  font-size: 0.625em !important;
  text-decoration: underline;
}

.flamecon-author:before {
  display: inline-block;
  margin-right: 5px;
  content: "by ";
  text-decoration: none;
}

.flamecon-join {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  line-height: 1.4;
  font-size: 0.825em;
  margin-bottom: 1em;
}

.flamecon-join a,
.flamecon-join a:visited {
  display: inline-block;
  margin: 0 5px;
}

.flamecon-cta {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  border: solid 1px white;
  border-radius: 30px;
  padding: 0.4125em 0.8em;
  font-size: 0.6em;
}

.flamecon-localtime {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  padding: 10px;
  text-align: center;
  width: 150px;
  color: #eb1930 !important;
}

.flamecon-utc {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes boom {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@media (max-width: 640px) {
  .flame-logo-inner {
    font-size: 0.825em;
  }
  .flamecon-title {
    font-size: 2em;
  }
  .flamecon-tagline {
    font-size: 0.75em;
  }
  .flamecon-lineup {
    font-size: 0.825em;
    text-align: center;
  }
  .flamecon-author {
    line-height: 1.8;
  }
}
