<img
    src="assets/images/footer.png"
    class="w-full h-auto"
    style="object-fit: repeat; object-position: center"
/>
<footer class="
        w-full bg-footer 
        text-xs text-accent flex-ni
        flex flex-row space-x-32 py-4 items-center justify-center
">
    <div class="flex space-x-2">
        <a href="https://docs.flame-engine.org/latest/">Docs</a>
        <a href="https://pub.dev/documentation/flame/latest/">API</a>
        <a href="https://examples.flame-engine.org/">Examples</a>
        <a href="https://github.com/flame-engine/flame">GitHub</a>
        <a href="https://discord.gg/pxrBmy4">Discord</a>
    </div>

    <div class="flex flex-col space-y-2">
        <a href="https://blue-fire.xyz/">Blue Fire</a>
        <a href="https://www.youtube.com/@FlameEngineDev">Youtube</a>
        <a href="https://github.com/flame-engine/awesome-flame">Awesome Flame</a>
        <a href="https://flameengine.creator-spring.com/">Swag Store</a>
        <a href="https://pub.dev/packages/flame">Flame on pub.dev</a>
    </div>
</footer>