<head>

    <!-- Setup -->
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="manifest" href="manifest.json">
    <base href="/">

    <!-- Title -->
    <title>Flame Engine | The Flutter game engine</title>
    <meta property="og:title" content="Flame Engine">
    <meta name="twitter:text:title" content="Flame Engine">
    <meta name="twitter:title" content="Flame Engine">
    <meta name="apple-mobile-web-app-title" content="Flame Engine">

    <!-- Description -->
    <meta name="description" content="Flame is a game engine built on top of Flutter. It runs on mobile, desktop, and web.">
    <meta property="og:description" content="Flame is a game engine built on top of Flutter. It runs on mobile, desktop, and web."/>
    <meta name="twitter:description" content="Flame is a game engine built on top of Flutter. It runs on mobile, desktop, and web.">

    <!-- Open Graph Data -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://flame-engine.org/">
    <meta property="og:image" content="/assets/images/share_image.png?alt=media">

    <!-- Twitter Share Data -->
    <meta name="twitter:image" content="/assets/images/share_image.png?alt=media">
    <meta name="twitter:card" content="summary_large_image">

    <!-- iOS  -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="assets/icons/Icon-192.png">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/icons/favicon.png"/>

    <!-- Css and stuff -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;600;900&display=swap" rel="stylesheet"> 
  </head>