<nav
  class="h-32 md:h-16 flex flex-col md:flex-row md:items-center justify-center md:justify-between space-y-8 md:space-y-0"
>
  <div
    class="flex-initial flex flex-col items-center justify-center md:justify-end"
  >
    <a href="/">
      <img src="assets/images/corner-logo.png" />
    </a>
  </div>
  <div
    class="flex flex-wrap items-center justify-center justify-items-center text-accent font-extrabold space-x-8"
  >
    <a href="https://pub.dev/documentation/flame/latest/">API</a>
    <a href="https://discord.gg/pxrBmy4">Discord</a>
    <a href="https://examples.flame-engine.org/">Examples</a>
    <a href="https://docs.flame-engine.org/latest/">Docs</a>
  </div>
</nav>
