<footer class="
        w-full bg-footer-gray 
        text-xs text-slate-50 flex-ni uppercase
        flex flex-col space-y-8 py-8 mt-8 items-center justify-center
        md:h-16 md:space-x-8 md:space-y-0 md:mt-0 md:flex-row 
">
    <a href="https://flameengine.creator-spring.com/">Merch</a>
    <a href="https://github.com/flame-engine/awesome-flame">Awesome Flame</a>
    <a href="https://www.youtube.com/playlist?list=PL1sAA7o4TIZoAAea6FluJbqE9U6IeA7w9">Flamecon</a>
    <a href="https://github.com/flame-engine/brand">Media</a>
    <a href="mailto:contact@blue-fire.xyz">Contact</a>
</nav>