<head>
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="Flame Engine Website">
  
    <!-- iOS meta tags & icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Flame Engine Website">
    <link rel="apple-touch-icon" href="assets/icons/Icon-192.png">
  
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/icons/favicon.png"/>
  
    <title>Flame Engine</title>
    <base href="/">
    <link rel="manifest" href="manifest.json">
  
    <meta data-react-helmet="true" name="description" content="2D game engine made on top of Flutter"/>
    <meta data-react-helmet="true" property="og:title" content="Flame"/>
    <meta data-react-helmet="true" property="og:description" content="2D game engine made on top of Flutter"/>
    <meta data-react-helmet="true" property="og:type" content="website"/>
    <meta data-react-helmet="true" name="twitter:card" content="summary"/>
    <meta data-react-helmet="true" name="twitter:title" content="Flame"/>
    <meta data-react-helmet="true" name="twitter:description" content="2D game engine made on top of Flutter"/>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;600;900&display=swap" rel="stylesheet"> 
  </head>