<nav class="h-16 md:h-32 flex items-center justify-between">
    <div class="flex-initial items-center collapse md:visible">
        <a href="/">
            <img src="assets/images/cornerlogo.jpg"/>
        </a>
    </div>
    <div class="flex flex-wrap items-center justify-center justify-items-center text-slate-50 font-extrabold space-x-8">
        <a href="https://docs.flame-engine.org/latest/">Docs</a>
        <a href="https://pub.dev/documentation/flame/latest/">API</a>
        <a href="https://examples.flame-engine.org/">Examples</a>
        <a href="https://github.com/flame-engine/flame">GitHub</a>
        <a href="https://discord.gg/pxrBmy4">Discord</a>
    </div>
</nav>