---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-button {
    background-color: #EB1930;
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block;
    box-shadow: -2px 2px 0px #960D1C;
    color: white;
}